.container {
  background-color: #fbf6ed;
}

.header {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.Carambar-banner {
  width: 100%;
  height: auto;
  display: block; 
}

.footer {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.Carambar-logo {
  padding-top: 30px;
  width: 100px;
  height: auto;
}

h1 {
  text-align: center;
  background-color: #fbf6ed;
}


.randomButton {
  padding: 10px 20px;
  background-color: #ffca28;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  color: #333;
  margin: 20px 0;
}

.randomButton:hover {
  background-color: #ffa000;
  color: white;
}

.randomJoke {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-top: 20px;
}

.randomJoke h2 {
  color: #ff5722;
}

.randomJoke p {
  margin: 5px 0;
  font-size: 16px;
}